.products{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media screen and (max-width: 1000px) {
    .products{
      grid-template-columns: 1fr;
      font-size: 2vh;
    }
}