.service{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_p{
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 2vh;
    text-align: center;
    font-weight: lighter;
}

@media screen and (max-width: 1000px) {
    .service_p{
        width: 100%;
    }  
}